<div class="container mt-3">
  <h1>Suba el archivo excel:</h1>
  <div>
    <%= form_tag purchases_path, class: "form-label", multipart: true do %>
      <%= file_field_tag :file, class: "form-control form-control-sm" %>
      <%= submit_tag "Guardar", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
